/* .profile_rasm {
  display: inline-block;
  width: 100%;
} */

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .about_p {

    text-align: justify;
    hyphens: auto;
    word-break: break-word;


  }

  .texnik_skills {
    flex-direction: column;
    gap: 10px;
  }




}



.about-text {
  color: rgb(153, 148, 221);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px 0px;




}

.skills-list {

  text-shadow: 2px 2px 4px rgba(6, 62, 29, 0.8);
  font-style: italic;
  list-style-type: square
}

.about-h2 {
  color: rgb(237, 105, 57);
}

.skills {
  margin-top: 20px;
  color: rgb(119, 230, 132);
  text-shadow: 1px 1px 5px rgba(3, 29, 14, 0.8);

  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texnik_skills {

  /* background-image: linear-gradient(to bottom, rgba(46, 33, 110, 0.5), rgba(72, 59, 165, 0.5)); */
  padding: 10px;
  border: 1px solid rgb(38, 125, 143);
  border-radius: 3px;
  box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.1),
    -2px -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;


}




.about_p {


  text-align: justify;









}

.eng_usti {
  position: sticky;
  top: 0px;
  /* qaysi joyda yopishib qolishini belgilaydi */
  background-color: rgba(8, 39, 60);
  color: white;
  padding: 0px;
  z-index: 1;

}



.portret {
  display: block;
  width: 50%;
  margin: 0 auto;



}

.extra_skills {
  border: 1px solid rgb(38, 125, 143);
  padding: 10px;
  color: rgb(211, 223, 179);
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1),
    -2px -2px 10px rgba(0, 0, 0, 0.1);

}