/* .profile_rasm {
  display: inline-block;
  width: 100%;
} */

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .about_p {

    text-align: justify;
    hyphens: auto;
    word-break: break-word;


  }




}

.menu {
  display: flex;
}

.about-text {
  color: white;



}

.skills-list {

  text-shadow: 2px 2px 4px rgba(6, 62, 29, 0.8);
  font-style: italic;
  list-style-type: square
}

.about-h2 {
  color: rgb(223, 150, 150);
}

.skills {
  margin-top: 20px;
  color: rgb(223, 170, 27);

  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.texnik_skills {

  background-color: rgba(87, 94, 116, 0.5);
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1),
    -2px -2px 10px rgba(0, 0, 0, 0.1);

}

.about_p {


  text-align: justify;









}

.eng_usti {
  position: sticky;
  top: 0;
  /* qaysi joyda yopishib qolishini belgilaydi */
  background: #08273c;
  color: white;
  padding: 10px;
  z-index: 1;
}

.about_quti {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  gap: 20px;
}

.portret {
  display: block;
  width: 100%;
}