.contact-section {
  padding: 3rem 1rem;
  background: #fff;
  border-radius: 8px;
  margin: 2rem auto;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  background: #203a43;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.social-section {
  text-align: center;
  margin: 2rem auto;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.social-links a {
  text-decoration: none;
  color: #203a43;
  font-weight: bold;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ff9800;
}

/* Fade-in animatsiya */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.eng_usti {
  position: sticky;
  top: 0px;
  /* qaysi joyda yopishib qolishini belgilaydi */
  background-color: rgba(8, 39, 60);
  color: white;
  padding: 0px;
  z-index: 1;

}


@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }


}