body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #333;
  background-image: url('../assets/images/stars.svg'), linear-gradient(to bottom, #0A1A3F, #ffffff);


}

.hero {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
  padding: 4rem 2rem;
  background-image: url('../assets/images/kompyuter2.jpg');
  background-size: cover;
  background-position: bottom center;
  height: 500px;
  filter: grayscale(0.6);

}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;


}

.hero .btn {
  background: #5f361f;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 20px;
  border: 1px solid white;
  box-shadow: 2px 2px 5px rgba(239, 228, 228, 0.7), -2px -2px 5px rgba(239, 228, 228, 0.7);

}



.hero-btn {
  margin: 50px;
}


.portret {
  max-width: 200px;
  height: auto;
  border-radius: 2px;
  border: 1px dashed #000;


}

section {
  padding: 3rem 2rem;
}

.projects .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.projects img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.projects img:hover {
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}

input,
textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #203a43;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Asosiy layout */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;

}

/* Navigatsiya */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Hero bo‘limi */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.cards {
  color: rgb(238, 246, 239);
}

.job-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: lightseagreen;
}

.job-stack {
  font-size: 1.2rem;
  color: #c99696;
}

.job-backend {
  font-size: 1.2rem;
  color: #29c2dd;
}

.job-frontend {
  font-size: 1.2rem;
  color: #e93e0e;
}

.hero-text,
.hero-img {
  flex: 1 1 300px;
}

/* Loyihalar grid */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.gamburg_div {
  display: none;
}



.gamburg_img {
  width: 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 20px;


}

.rotated {
  transform: rotate(180deg);
  /* 180° aylantirish */
}






/* Media Queries */
@media (max-width: 768px) {


  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 500px;
    /* menyu balandligi */
    transition: max-height 1s ease;
    position: fixed;
    background-color: orangered;
    width: 100%;

    color: black;
    left: 0;
    z-index: 2;



  }

  .menu.hidden {
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  .gamburg_div {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 0 0;

  }

  .eng_usti {
    position: sticky;
    top: 0;
    /* qaysi joyda yopishib qolishini belgilaydi */
    background-color: rgba(8, 39, 60);
    color: white;
    padding: 10px;
    z-index: 1;

  }





}







.hero {
  flex-direction: column;
  text-align: center;
}

/* .gamburg_div {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
} */

/* .menu.hidden{
    display: none;
  } */

.about-grid {
  flex-direction: column;
}

.cert-grid {
  grid-template-columns: 1fr;
}



/* Animatsiya boshlanishi */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Animatsiya faollashganda */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;

}



.logo {

  text-align: center;

  color: orangered;
  padding: 10px 100px;
  margin: 0;
}

.project-img {

  height: auto;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 16/16;
  object-fit: cover;
  background-color: aqua;
  border-radius: 10px;
  object-position: top center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-outline {
  text-decoration: underline;
  display: inline-flex;
  margin: 20px;
}

.menu {
  display: flex;

}

.linklar {
  margin: 20px;
  color: white;



}